{% block jquery_entity_autocomplete_widget %}
    {{ form_widget(form.offsetGet(property)) }}
    {{ form_errors(form.offsetGet(id_property)) }}
    {{ form_widget(form.offsetGet(id_property)) }}
    {% spaceless %}
        <script type="text/javascript">
            var {{ autocomplete_id }} = null;
            $(document).ready(function() {
                {% if exact_select %}
                var autoFocus = true;
                {% else %}
                var autoFocus = false;
                {% endif %}

                {{ autocomplete_id }} =
                        new Autocompleter
                        (
                                "#{{ form.offsetGet(property).vars.id }}",
                                "#{{ form.offsetGet(id_property).vars.id }}",
                                "{{ url }}",
                                {
                                    property:   '{{ property }}',
                                    idProperty: '{{ id_property }}',
                                    minLength: {{ min_length }},
                                    autoFocus: autoFocus
                                },
                                false
                        );

                {% if parent_field %}
                {#{{ autocomplete_id }}.disableTextField();#}
                var autocompleter = {{ autocomplete_id }};

                /** @var parentAutocompleter Autocompleter */
                var parentAutocompleter = {{ form.parent.offsetGet(parent_field).vars.autocomplete_id }};
                parentAutocompleter.setOnSelect(
                        function() {
                            autocompleter.clearValue();
                            autocompleter.setUrlParameters(this.getValue());
                            autocompleter.callOnSelect();
                        }
                );
                parentAutocompleter.setOnChange(
                        function() {
                            {#{{ autocomplete_id }}.enableTextField();#}
                            autocompleter.clearValue();
                            autocompleter.setUrlParameters({});
                            autocompleter.callOnChange();
                        }
                );
                autocompleter.setUrlParameters(parentAutocompleter.getValue());
                {% endif %}

            });
        </script>
    {% endspaceless %}
{% endblock %}

{% block rup_money_widget -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% set type = type|default('text') -%}
    {% spaceless %}
        <div class="input-group">
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            <span class="input-group-addon">{{ currency }}</span>
        </div>
    {% endspaceless %}
{%- endblock rup_money_widget %}

{% block timestamp_widget -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    <div class="datepicker">
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <button class="btn btn-datepicker" type="button">
            <span class="glyphicon glyphicon-calendar"></span>
        </button>
    </div>
{% endblock timestamp_widget -%}
